SCHEMATIC START ;
// created by map version E.30 on Tue Oct 31 00:17:29 2023 
COMP "H9/RG1_D0" LOCATE = SITE "P46" LEVEL 1; 
COMP "H8/NZ_2" LOCATE = SITE "P62" LEVEL 1; 
COMP "H8/NZ_1" LOCATE = SITE "P59" LEVEL 1; 
COMP "H8/NR_2" LOCATE = SITE "P65" LEVEL 1; 
COMP "H8/NR_1" LOCATE = SITE "P60" LEVEL 1; 
COMP "H8/GI_GOI" LOCATE = SITE "P61" LEVEL 1; 
COMP "H8/CLK11059" LOCATE = SITE "P35" LEVEL 1; 
COMP "H6/$Net00035_" LOCATE = SITE "P26" LEVEL 1; 
COMP "H6/$Net00034_" LOCATE = SITE "P29" LEVEL 1; 
COMP "H6/$Net00033_" LOCATE = SITE "P38" LEVEL 1; 
COMP "H5/$Net00028_" LOCATE = SITE "P4" LEVEL 1; 
COMP "H5/$Net00027_" LOCATE = SITE "P7" LEVEL 1; 
COMP "H5/$Net00026_" LOCATE = SITE "P10" LEVEL 1; 
COMP "H5/$Net00025_" LOCATE = SITE "P18" LEVEL 1; 
COMP "H4/$Net00004_" LOCATE = SITE "P24" LEVEL 1; 
COMP "H4/$Net00003_" LOCATE = SITE "P27" LEVEL 1; 
COMP "H4/$Net00002_" LOCATE = SITE "P36" LEVEL 1; 
COMP "H4/$Net00001_" LOCATE = SITE "P39" LEVEL 1; 
COMP "H10/RG2_D3" LOCATE = SITE "P51" LEVEL 1; 
COMP "H10/RG2_D2" LOCATE = SITE "P56" LEVEL 1; 
COMP "H10/RG2_D1" LOCATE = SITE "P57" LEVEL 1; 
SCHEMATIC END ;
